* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-image: url("img/kasike.jpg");
  background-repeat: repeat;
  background-size: 480px; 
  background-position: top left;
  background-color: #f5f5f5; 
  color: #333;
  min-height: 100vh;
}


.barrasuperior {
  background-color: black;
  color: yellow;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.logoFijo {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: auto;
  opacity: 0.5;
  z-index: 0;
  pointer-events: none;
}

.menu {
  background-color: #333;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
}

.menu a:hover {
  background-color: #555;
  border-radius: 5px;
}

main {
  background-color: #222;
  color: #eee;
  padding: 30px 20px;
  font-size: 0.9rem;
}

.main-grid {
  display: grid;
  grid-template-columns: 10% 75% 15%;
  gap: 20px;
  align-items: start;
}

main h4 {
  margin-bottom: 10px;
  color: #ffd700;
}

main a {
  color: #00aced;
  text-decoration: none;
}

main a:hover {
  text-decoration: underline;
  color:#eee
}

.form {
  width: 100%;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.main-form {
  text-align: center;
}
