* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.barrasuperior {
    background-color: black;
    color: yellow;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.logoFijo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 120px;
    height: auto;
    opacity: 0.5;
    z-index: 0;
    pointer-events: none;
}

.menu {
    background-color: #333;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.menu ul li a:hover  {
  
  color: #d4af37 !important;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
}

.contenedor-cuchillos {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.fila-cuchillos {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.tarjeta-cuchillo {
    flex: 1 1 calc(33.333% - 1rem);
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.tarjeta-cuchillo img {
    height: 200px;
    width: auto;
    object-fit: contain;
}


.tarjeta-cuchillo h3 a {
    font-size: 1.2rem;
    margin: 0.5rem 0;
    color:#333
}

.tarjeta-cuchillo h3 a:hover {
  color: #d4af37; 
  text-shadow: 0px 0px 10px rgba(212, 175, 55, 0.8);
}

.tarjeta-cuchillo p {
    font-size: 0.95rem;
    color: #666;
}

footer {
    background-color: #222;
    color: #eee;
    padding: 30px 20px;
    font-size: 0.9rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    gap: 20px;
    align-items: start;
}

footer h4 {
    margin-bottom: 10px;
    color: #ffd700;
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color:#eee
}

.mapa {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.footer-mapa {
    text-align: center;
}